.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  width: 45em;
  display: grid;
  gap: 1em;
  margin: 3em;
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
}

button {
  background: #17f;
  color: #fff;
  font: inherit;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0.5em 1.5em;
}

button:active {
  background-color: #05b;
}

input {
  border: 1px solid #999;
  border-radius: 3px;
  font: inherit;
  padding: 0.5em;
  outline: none;
}

input:focus {
  outline: auto #17f;
}

.item {
  padding: 1em;
  list-style-type: none;
  border-radius: 6px;
  margin-bottom: 1em;
  background: #fff;
  box-shadow: 0px 2px 6px 2px #0002;
}

.item .title {
  font-size: 100%;
}

.item .description {
  margin: 1em 0;
}

.item .thumbnail {
  float: right;
  box-shadow: 0px 1px 1px 1px #0002;
  border-radius: 12px;
  margin-left: 1em;
  margin-bottom: 1em;
}

.item .meta {
  font-size: 80%;
  font-weight: bold;
  color: #555;
}

.item .provider-thumbnail {
  margin-right: 0.5em;
}

.item .meta > *:not(:last-child) {
  margin-right: 2em;
}

body{
  background-color: black;
}

#ContentMirror *{

}

.k-widget.k-toolbar.k-scheduler-toolbar,
.k-scheduler-cell.k-heading-cell.k-group-cell.k-scheduler-datecolumn,
.k-scheduler-cell.k-heading-cell.k-group-cell.k-scheduler-timecolumn,
.k-scheduler-cell.k-heading-cell.k-scheduler-eventcolumn,
.k-widget.k-toolbar.k-scheduler-footer,
.k-scheduler-head{
  display: none !important;
}

.k-scheduler, #Temperature p, .item .title{
  font-size: 24px !important;
  font-weight: 200;
}

.item .title{
  font-weight: 300;
}

#NewsContent .description{
  font-size: 22px;
  font-weight: 200;
}

.k-scheduler-agendaday{
  font-weight: 200 !important;
}

.k-scheduler-row.k-scheduler-content, .k-scheduler-row{
  display: flex !important;
  flex-direction: column !important;
}

.k-scheduler-layout-flex .k-scheduler-cell{
  border-style: none !important;
}

.k-scheduler-datecolumn{
  width: auto !important;
}

.k-scheduler-layout-flex .k-scheduler-group .k-group-cell, .k-scheduler-layout-flex, .k-scheduler-layout-flex, .k-scheduler-content{
  overflow: initial !important;
}

.k-widget.k-scheduler.k-scheduler-flex.k-floatwrap{
  height: auto !important;
  width: 100% !important;
}

.k-scheduler-layout-flex .k-scheduler-row{
  flex: initial !important;
}

.k-scheduler-group{
  width: 100% !important;
}

.k-scheduler-cell.k-scheduler-timecolumn{
  padding: 0 !important;
  padding-left: 8px !important;
  padding-top: 8px !important;
}

.k-scheduler-cell.k-group-content .k-scheduler-cell:not(.k-scheduler-timecolumn){
  padding-top: 0 !important;
  padding-bottom: 8px !important;
  border-bottom: solid 1px white !important;
}

.k-scheduler-row.k-scheduler-content{
  padding-top: 15px !important;
}

.k-scheduler-layout.k-scheduler-layout-flex.k-scheduler-agendaview{
  color: white !important;
}

.k-scheduler-layout-flex .k-scheduler-group .k-group-cell{
  overflow: initial !important;
}

.k-scheduler-datecolumn.k-group-cell.k-scheduler-cell.k-slot-cell{
  padding-bottom: 15px !important;
}

.k-widget.k-scheduler.k-scheduler-flex.k-floatwrap{
  background-color: black !important;
}

.k-scheduler-row:hover{
  background-color: initial !important;
  color: white !important;
}

.k-scheduler-cell.k-group-content div:last-child .k-scheduler-cell{
  border-bottom: none !important;
}

.k-scheduler table, .k-scheduler thead, .k-scheduler tfoot, .k-scheduler tbody, .k-scheduler tr, .k-scheduler th, .k-scheduler td, .k-scheduler div, .k-scheduler > *{
  text-align: start;
}

#New-Calendar{
  padding-left: 10%;
  padding-right: 10%;
}
#Calendar{
  align-self: end;
}

#NewsContent{
  width: 32%;
  background-color: black;
  color: white;
  /*font-weight: 400;*/
}

#NewsContent h1{
  font-weight: 200;
  margin-bottom: 6%;
}

#NewsContent a{
  color: white;
  /*font-weight: 300;*/
  text-decoration: none;
}

#NewsContent img{
  float: initial;
  width: 70px;
}

#NewsContent .item{
  background-color: black;
  border-bottom: solid 1px white;
}

#NewsContent .item:last-child{
  border-bottom: none;
}

#NewsContent .item div{
  display: none;
}

#Date-Temp-Logout{
  display: flex;
  justify-content: space-between;
  padding: 3% 10% 0% 10%;
}

#Temperature{
  color: white;
  font-weight: 200;
}

#Calendar, #Logout, #Temp-Date{
  width: 33.33%;
}

#Logout{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

#Logout button{
  background-color: #1c1c1c;
}

#Temp-Date p{
  text-align: end;
}

#musique {
  width: 40%;
  padding-bottom: 4%;
}

#musique p{
  padding: 2%;
  color: white;
  background: grey;
}

#Music-News{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0% 10% 1% 10%;
  padding-top: 45px;
}

#Temp-Date h1{
  color: white;
  text-align: end;
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 40px;
}

#musique{
  color: white;
}

#musiqueStyle{
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 200;
}

#here audio{
  width: 100%;
  padding-top: 3%;
}

#timer H2{
  color: white;
  font-weight: 200;
}